* {
  margin: 0;
  padding: 0;
  border: 0 none;
  position: relative;
}
html {
  height: 100%;
  margin: 0;
/*  display: flex;*/
}

body {
  width:100%;
  background: url(images/sunrise.jpg) no-repeat center fixed;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.9;
  color: #19334d;
  margin: 0;
  word-wrap: break-word;
 }

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 50px;
  font-weight: 100;
  margin-bottom: 70px;
  margin-top: 100px;
  text-align: center;
}

h2 {
  margin-top: 100px;
  margin-bottom: 15px;
  margin-left: 15px;
  padding: 5px;
  font-size: 30px;

}

h3 {
  font-size: 25px;
  font-weight: 100;
}


p {
  font-size: 15px;
}

ul {
  margin-bottom: 25px;
}


a {
  color: rgba(255,165,0,0.9);
}

a:hover {
  color: #0000FF;
  text-decoration: none;
  font-weight: 180;
}

span a {
    color: rgba(25,51,77, 0.9);
}

ul li {
  display: inline;
  padding-right: 15px;
  font-size: 15px;
}

button {
  text-decoration: none;
  background-color: rgba(25,51,77, 0.9);
  border-radius: 1px;
  padding: 6px;
  color: #ffffff;
  font-size: 15px
  width: 100px; 
}

button a {
  color: #ffffff;
  font-size: 15px;
  text-decoration: none;
}


label {
  font-weight: 700;
}

footer {
  position: relative;
  margin-top: -150px; 
  height: 50px;
  clear:both;
  padding-top:20px;
  text-align: center;
  color: rgba(25,51,77, 1);
}

figure img {
  border: 5px solid #fff;
  border-radius: 2px;
  width: 400px;
  height: auto;
}

figcaption {
  background-color: rgba(246,243,243,1);  
  margin-top: 5px;
  padding-left: 5px;
  border-radius: 2px;
}

figcaption p {
  font-size: 12px;
}

form {
  background-color: rgba(246,243,243,0.8);
  padding: 15px;
  margin-bottom: 30px;
}
.site-description {
  border: 1px solid #000;
  margin: 2px;
  text-align: center;
  padding: 30px;
}

.container-fluid {
  padding: 0  3px    70px     0;
  color: #19334d;
  text-align: center;
}

.top-menu {
  font-size: 16px;
  margin-left: 15px;
  float: right;
  color: #19334d;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar-brand {
  color: #19334d;
  text-decoration: none;
}

.site-intro-box {
  border: 1px solid #000;
  margin: 10px;
  text-align: center;
  padding: 50px 10px 10px 10px;
  width: 350px;
  height: 400px;
  display: block;
  float:left;
}

.site-intro-box h2 {
  padding: 10px;
  margin-top: 30px;
}

.site-intro-box p {
  font-size: 18px;
}

.site-intro-box i {
  font-size: 70px;
}

.site-intro-box .btn {
  width: 150px;
  background-color:rgba(255,165,0,0.8); 
  color:rgba(246,243,243,1); 
}

.site-intro-box .btn  i {
  font-size: 15px;
}
/*tags*/
.tags-container {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center;  
  margin-top: 50px;
}

.tag-in-list {
  margin: 30px 10px 30px 10px;
  padding: 15px;
  background-color:rgba(255,165,0,0.9);
  border-radius: 2px;
}

.tag-in-list a {
  color:rgba(246,243,243,1); 
  text-transform: uppercase;
  
}

.tag-in-list.small {
  padding: 5px 10px 5px 10px;
  font-size: small;
}

.tag-in-list .big-tag {
  padding: 15px;
  margin: 30px 10px 30px 10px;
  
}

.img-responsive {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*maps*/
#map-trips { 
  width: 750px;
  height: 500px;
  margin-bottom:60px;
}


.popup-img {
  position: relative;
  width:  100px;
  height: 60px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  }

/*photos_show*/
.photo {
  max-width:100%;
  max-height: 400px;
  overflow: hidden;
}

.photo-gallery {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center;
  text-align: left;
}

.gallery-item {
  margin: 20px;
  float: left;
}

.btn-tag {
  margin:30px;
}

.btn-tag a {
  color: #ffffff;
}
.registration-info {
  margin-top:200px;
  margin-left: 100px;
}

.no-items-info {
  padding: 40px;
}

.no-items-info p {
  font-size:20px;
}

