* {
  margin:0;
  padding:0;
  border: 0 none;
  position: relative;
}
html {
  height: 100%;
  margin: 0;
}

body {
  padding : 15px;
  background: url(images/main-boat.jpg) no-repeat center fixed;
  background-size: cover;
  font-family: 'Lato', Arial, sans-serif;
  color: #19334d;
 }


h1 {
  font-size: 70px;
  margin-bottom: 40px;
  margin-top:100px;
  text-align: center;
}

h2 {
  margin-bottom: 15px;
  margin-left: 15px;
  padding: 5px 5px 5px 5px;
  font-size: 30px;

}

h3 {
  padding: 10px 3px 40px 10px;
  font-size: 25px;
}

h4 {
  padding: 5px 3px 5px 10px;
  font-size: 15px;
}

p {
  margin: 15px;
  font-size: 15px;
}

ul {
  margin-bottom: 25px;
}


a {
  color: #19334d;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

span a {
    color: rgba(25,51,77, 0.9);
}

ul li {
  display: inline;
  padding-right: 15px;
  font-size: 15px;
  margin-left: 15px;
}

button {
  text-decoration: none;
  background-color: rgba(25,51,77, 0.9);
  border-radius: 2px;
  padding: 6px;
  color: #ffffff;
  font-size: 15px
}

button a {
  color: #ffffff;
  font-size: 15px;
}

label {
  font-weight: 700;
}




.container-fluid {
  padding: 0  3px    70px     0;
  color: #19334d;
  text-align: center;
}

.top-menu {
  font-size: 20px;
  margin-left: 15px;
}

.trip{
  position: relative;
  border-radius: 2px;
  background-color:rgba(246,243,243,0.8);
  margin-bottom: 5px;
  padding: 10px;
}

.post {
  border-radius: 2px;
  background-color:rgba(246,243,243,0.8);
  margin: 5px;
  padding: 10px;
}

.tags-container {
  margin: 30px auto 30px auto;
  border-radius: 2px;
  background-color:rgba(246,243,243,0.8); 
  padding: 20px; 
}

.tag-in-list {
  margin: 30px 10px 30px 10px;
  padding: 15px;
  background-color:rgba(255,165,0,0.9);
  border-radius: 2px;
}

.tag-in-list a {
  color: #ffffff;
}
.tag-in-list.small {
  padding: 5px;
  font-size: small;
}


.post-tags {
  margin: 15px;
  font-size: 15px;
}

.image-container {
  border-radius: 2px;
  background-color:rgba(246,243,243,0.8);
  margin: 5px;
  padding: 10px;
}

.img-responsive {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-container {
  text-align: center;;
}
