
    <div class='navbar navbar-static-top'> 
        <div class="container">        
            <a href="{% url 'main:index' %}" class="navbar-brand">My travel notebook</a>
             <ul class="navbar-nav navbar-right list-unstyled">    
            {% if user.is_authenticated %}  
                <li><a href="{% url 'main:trip_new' %}" class="top-menu">New trip</a></li>
                <li><a href="{% url 'main:post_new' %}"class="top-menu">New post</a></li>           
                <li><a href="{% url 'main:trips_show' %}" class="top-menu">All trips</a></li>          
                <li><a href="{% url 'main:map' %}"class="top-menu">Map</a></li>
                <li><a href="{% url 'main:photos_show' %}"class="top-menu">Photos</a></li>
                <li><a href="{% url 'main:tags_show' %}"class="top-menu">Tags</a></li>     
            {% endif %}    
            {% if user.is_authenticated %}  
                 <li class="top-menu"><a href="{% url 'django.contrib.auth.views.logout' %}" class="top-menu">Hello {{ user.username }}! (LOG OUT)</a></li> 
            {% else %}
                 <li><a href="{% url 'auth_login' %}" class="top-menu signup-btn">LOGIN</a></li>
                 <li><a href="{% url 'registration_register' %}" class="top-menu signup-btn">SIGNUP</a></li>      
            {% endif %}
           </ul>  
        </div>           
    </div>  


