<div class='container'> 
    <div class="row">  
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
            {% if user.is_authenticated %}  
                <span><a href="{% url 'main:trips_show' %}" class="top-menu">Show trips</a></span>
                <span><a href="{% url 'main:photos_show' %}"class="top-menu">Photos</a></span> 
                <span><a href="{% url 'main:trip_new' %}" class="top-menu">Add new trip</a></span>
                <span><a href="{% url 'main:post_new' %}"class="top-menu">Add new post</a></span>
                <span><a href="{% url 'main:tags_show' %}"class="top-menu">Tags</a></span> 
            {% endif %}    
            {% if user.is_authenticated %}  
                 <span class="top-menu">Hello {{ user.username }}! (<a href="{% url 'django.contrib.auth.views.logout' %}">LOG OUT</a>)</span> 
            {% else %}
                 <span><a href="{% url 'django.contrib.auth.views.login' %}" class="top-menu">LOGIN</a></span>   
            {% endif %}
        </div>           
    </div>  
    <div>   
        <h1><a href="{% url 'main:index' %}">My travel notebook</a></h1> 
    </div>
</div>