{% extends "main/base.html" %}

{% block title %}Photos{% endblock %}

{% block content %}
<div>   
  <h1>All photos</h1> 
</div>
<div>
	<div class="photo-gallery">
		{% if trips %}
			{% for trip in trips %}		
				{% for post in posts %}
					{% if post.trip == trip %}		
						{% if post.image %}
						<div class="gallery-item">
							<figure>
								<div class="photo">
									<img src="{{ post.image.url }}" class="img-responsive"/>
								</div>	
								<figcaption><p>Post: <a href="{% url 'main:post_detail' post.id %}">{{ post.title|truncatechars:20 }}</a>, Trip: <a href="{% url 'main:trip_detail' slug=trip.slug %}">{{ trip.title|truncatechars:20 }}</a></p></figcaption>
							</figure>		
						</div>				
						{% endif %}	
					{% endif %}	
				{% endfor %}	
			{% endfor %}
		{% else %}
		<p>No photos to show.</p>
		{% endif %}	
	</div>
</div>	
{% endblock %}