
    <h3>{{ post.title }}</h3>
    {% if post.text %}
        <p><label>Note:</label>{{ post.text|linebreaks }}</p> <!-- |truncatechars:120  -->
    {% endif %}
    {% if post.url %}
        <p><label>Website link:</label><a href="{{ post.url }}"> {{ post.url }}</a></p>
    {% endif %}
    <p><label>Date:</label> {{ post.created_date }}</p>
    <p><label>Trip:</label><a href="{% url 'main:trip_detail' slug=post.trip.slug %}"> {{ post.trip.title }} </a></p>
    {% if post.image %}
        <image src="{{post.image.url}}" class="img-responsive"/>
    {% endif %}
    {% if post_tags %}
    <div class="post-tags">
        <ul>
            <label>Tags:</label>
            {% for tag in post_tags %}
                <li class="tag-in-list small"><a href="{% url 'main:tag_detail' tag_name=tag.value %}">{{ tag.value }}</a></li>
            {% endfor %}
        </ul>
    </div>    
    {% endif %}
