{% extends "main/base.html" %}

{% block title %}All trips{% endblock %}

{% block content %}

{% include "main/messages.html" %}

<h2>All trips</h2>
{% if list_of_trips %}
    {% for trip in list_of_trips %}
        <div class="trip">
            {% include "main/trip.html" with trip_text=trip.text|truncatechars:240 %}
            <button type="button"> <a href="{% url 'main:trip_detail' trip.slug %}">Trip details ...</a></button>
        </div>
    {% endfor %}
{% else %}
    <p>No trips are available.</p>
{% endif %}
<!-- 		<div class="footer">
        <div class="pagination">
            <span class="step-links">
                {% if list_of_trips.has_previous %}
                    <a href="?page={{ list_of_trips.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ list_of_trips.number }} of {{ list_of_trips.paginator.num_pages }}.
                </span>

                {% if list_of_trips.has_next %}
                    <a href="?page={{ list_of_trips.next_page_number }}">next</a>
                {% endif %}
            </span>   
        </div> -->
   <!--  </div>     -->
{% endblock %}     