
{% extends "main/base.html" %}

{% block title %}All trips{% endblock %}

{% block main-content %}

{% include "main/messages.html" %}

<div class="trip" >
    {% include "main/trip.html" %}
    <button type="button"> <a href="{% url 'main:post_new' %}">Add post</a></button>
    <button type="button"> <a href="{% url 'main:trip_edit' slug=trip.slug %}">Edit trip</a></button>

</div>
<div class="post-list">
{% if trip_posts %}
    <h3> List of posts related to this trip:</h3>
    {% for post in trip_posts %}
        <div class="post">
            {% include "main/post.html" with post=post post_tags=post.tags.all only %}
        
            <div>
                <button type="button"> <a href="{% url 'main:post_detail' post.id %}">Details ...</a></button>
            </div>
        </div>    
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if trip_posts.has_previous %}
                <a href="?page={{ trip_posts.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ trip_posts.number }} of {{ trip_posts.paginator.num_pages }}.
            </span>

            {% if trip_posts.has_next %}
                <a href="?page={{ trip_posts.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% else %}
    <h4> There are no posts related to this trip.</h4>
{% endif %}
</div>

{% endblock %}
   