{% extends "main/base.html" %}
{% load staticfiles %}

{% block title %}All trips{% endblock %}
{% block stylesheets %}
    {{ block.super}}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main/trips_show.css' %}"/>
{% endblock %}
{% block content %}
<div>   
  <h1>All trips</h1> 
</div>

{% include "main/messages.html" %}
<div class="trips-show-content">
{% if list_of_trips %}
    {% for trip in list_of_trips %}
        <section class="trip-container">
            {% include "main/trip.html" with trip_text=trip.text|truncatechars:30 trip_title=trip.title|truncatechars:30 %}
        </section>
    {% endfor %}
</div>
    <footer>
        <div class="pagination">
            <span class="step-links">
                {% if list_of_trips.has_previous %}
                    <a href="?page={{ list_of_trips.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ list_of_trips.number }} of {{ list_of_trips.paginator.num_pages }}.
                </span>

                {% if list_of_trips.has_next %}
                    <a href="?page={{ list_of_trips.next_page_number }}">next</a>
                {% endif %}
            </span>   
        </div>
    </footer>    
{% else %}
<div class="no-items-info">
    <p>No trips available.</p>
    <button type="button" class="btn btn-tag"> <a href="{% url 'main:trip_new' %}">Add new trip</a></button>
</div>    
{% endif %}
{% endblock %}     